<!DOCTYPE html>
<html>
    <head>
        <%- include ./headings/header.ejs %>
        <title>RPG</title>
        <link rel="stylesheet" href="/stylesheets/game.css"> <!-- CSS Created by boxmein -->
    </head>
    
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    
    <body>
        <%- include ./headings/navbar.ejs %>
        <div class="container gameText">
            <div class="pre-scrollable mainGame">
                <div id="log" class=""></div>
                <div id="restart"></div>
            </div>
            <div class="textarea"><span id="lts">&lt;&lt;</span><input id="textbox" type="text" autofocus></div>
        </div>
    </body>
    
    <%- include ./headings/footer.ejs %>
    
    <script>
        var socket = io();
        
        function restartGame()
        {
            $('#log').html('');
            $("#restart").html('');
            socket.emit('restarto', document.cookie);
            $('#textbox').focus();
        }
        
        $('#textbox').bind("enterKey",function(e){
            socket.emit('out', $("#textbox").val(), document.cookie);
            $("#log").append("<br><b>>&emsp;&emsp;" + $("#textbox").val() + "</b><br>");
            $("#textbox").val("");
        });
        
        $('#textbox').keyup(function(e){
            if(e.keyCode == 13)
            {
                $(this).trigger("enterKey");
            }
        });
        
        socket.on('restarti', function(data) {
            $("#restart").html('<br><br><button type="button" class="btn btn-default" onclick="restartGame()">Restart</button><br><br>');
        });
        
        socket.on('newID', function(data) {
            document.cookie = "currentGame=" + data + "; expires=Thu, 18 Dec 2038 12:00:00 UTC; path=/";
        });
        
        socket.on('in', function(data) {
            console.log(data);
            $("#log").append(data);
            $(".mainGame").stop();
            $(".mainGame").animate({ scrollTop: $('.mainGame').prop("scrollHeight")}, 1000);
            
            return false;
        });
    </script>
</html>