<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ./headings/header.ejs %>
        <title>Resume</title>
    </head>
    <body>
        <%- include ./headings/navbar.ejs %>
        <div class="container">
            Resume
            <hr>
            
            <script>
                function getGame(path, key)
                {
                    document.cookie = "currentGame=" + key + "; expires=Thu, 18 Dec 2038 12:00:00 UTC; path=/";
                    document.cookie = "currentGamePath=" + path + "; expires=Thu, 18 Dec 2038 12:00:00 UTC; path=/";
                    console.log('/playGame' + path);
                    window.location = '/playGame' + path;
                }
            </script>
            
            <% for (x in sessions) { %>
                <% if (x%3 == 0) { %>
                    <div class="row">
                <% } %>
                        <div class="col-sm-4">
                            <div class="card" style="width: 20rem;">
                                <% var foundGame = games['Games'].filter(function(v){ return v["Path"] == sessions[x]['path'];}); %>
                                <img class="card-img-top" src="/thumbnails/<%= foundGame[0]['Thumbnail'] %>" alt="Card image cap" height="180" width="318">
                                <div class="card-block">
                                    <h4 class="card-title"><%= foundGame[0]['Name'] %></h4>
                                    <p class="card-text"><%= foundGame[0]['Description'] %></p>
                                    <a onclick="getGame('<%= sessions[x]['path'] %>' , '<%= sessions[x]['key'] %> ');" class="btn btn-primary">Resume</a>
                                </div>
                            </div>
                        </div>
                <% if (x%3 == 2 || x == sessions.length-1) { %>
                    </div>
                    <hr>
                <% } %>
            <% } %>
        </div>
    </body>
    <%- include ./headings/footer.ejs %>
</html>